<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <div id="home-container">
        <div>
            <h1>Blog Community where people can share ideas</h1> 
        </div>
        <div id="post-container">
            <div id="post-head">
                <h2>Posts</h2>
                <a href="/post/new">Create New Post</a>
            </div>
            <% posts.forEach(element => { %>
                <div id="post-card">
                    <h2><%= element.title %></h2>
                    <a href="/account/<%= element.accountId %>/show"><p><%= element.createdBy %></p></a>
                    <p><%= element.content %></p>     
                     <% if (user && user.id === element.accountId) { %>
                        <div class="button-container">
                            <a href="/post/<%= element._id %>/edit" id="edit">Edit</a>
                            <form action="/post/<%=element._id%>?_method=DELETE" method="POST">
                                <button type="submit" id="x">❌</button>
                            </form>
                    </div>
                     <% } %>    
                </div>
            <% }) %> 
        </div>
    </div>
</body>
</html>