<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <div id="home-container">
        <div id="side-card">
            <h1>Blog Community where people can share ideas</h1>
        </div>
        <div id="post-container">
            <div id="post-head">
                <h2>Posts</h2>
                <% if (user) { %>
                    <a href="/post/new">Create New Post</a>
                <% } %>
            </div>
            <% if (posts.length === 0) { %>
             <p>No posts yet....</p>
            <% } %>
            <% posts.forEach(post => { %>
                <div id="post-card">
                    <h2><%= post.title %></h2>
                    <a href="/account/<%= post.accountId %>/show"><p><%= post.createdBy %></p></a>
                    <p><%= post.content %></p>
                     <% if (user && user.id === post.accountId) { %>
                        <div class="button-container">
                            <a href="/post/<%=post._id%>/edit" id="edit">Edit</a>
                            <form action="/post/<%=post._id%>?_method=DELETE" method="POST">
                                <button type="submit" id="x">❌</button>
                            </form>
                        </div>
                     <% } %>
                </div>
            <% }) %>
        </div>
        <div id="all-users">
            <h2>Top Users</h2>
            <% users.forEach(user => { %>
                <a href="/account/<%=user._id%>/show"><p><%= user.username %></p></a>
            <% }) %>
        </div>
    </div>
</body>
</html>
